/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&display=swap');

@font-face {
  font-family: 'Raleway';
  src: url("url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');")
}

body{
  font-family: 'Raleway', sans-serif;
}

.rubik{
  font-family: 'Rubik Vinyl', cursive;
}

.raleway{
  font-family: 'Raleway', sans-serif;
}

.add-bg-1{
  background: url('./assets/media/patterns/Stars.png');
  background-attachment: fixed;
  background-size: contain;
}
/* .add-bg-2{
  background: url('./assets/media/illustrations/young-women-sitting-with-laptop-on-the-table.png');
  background-attachment: fixed;
  background-size: cover;
}
.add-bg-3{
  background: url('./assets/media/illustrations/doctor-resting-on-book-stacks-on-floor.png');
  background-attachment: fixed;
  background-size: cover;
} */